<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <!-- <li><a href="/myaccount"><i class="fa fa-user"></i> My Account</a></li>
                             <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li> 
                            <li><a href="/myaccount?address=<%=address%>"><i class="fa fa-user"></i> My Cart</a></li> 
                          <li><a href="checkout.html"><i class="fa fa-user"></i> Checkout</a></li> -->
                        <li><a href="/"><i class="fa fa-user"></i> Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="/shop?address=<%=address%>"><img src="img/logo1.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- <div class="shopping-item">
                        <a href="#">
                            Account Address:<span class="cart-amunt"> </span> 
                            <span id="accountAddr" ></span><br>
                            Holding ETH Count:<span class="cart-amunt"> </span> 
                            <span id="ethValue"></span><br>
                            Holding Token Count:<span class="cart-amunt"> </span>
                            <span id="tokenValue"></span><br>
                        
                        </a>
                    </div> -->

            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <!-- <li><a href="index.html">Home</a></li> -->
                    <% if (menu == 'shop') {%>
                        <li class="active">
                    <%} else {%>
                        <li>
                    <%}%>

                        <a href="/shop?address=<%=address%>">Shop page</a>
                    </li>

                    <% if (menu == 'myaccount') {%>
                        <li class="active">
                    <%} else {%>
                        <li>
                    <%}%>
                        <a href="/myaccount?address=<%=address%>">My Page</a>
                    </li>
                    <!-- <li><a href="single-product.html">Single product</a></li>
                        
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Others</a></li>
                        <li><a href="#">Contact</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->